
.icon-upload:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\e801'; } /* '' */
.icon-trash-empty:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-resize-horizontal:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-money:before { content: '\e806'; } /* '' */
.icon-minus:before { content: '\e807'; } /* '' */
.icon-resize-vertical:before { content: '\e808'; } /* '' */
.icon-language:before { content: '\e809'; } /* '' */
.icon-help-circled:before { content: '\e80a'; } /* '' */
.icon-ccw:before { content: '\e80b'; } /* '' */
.icon-cw:before { content: '\e80c'; } /* '' */
.icon-arrows-cw:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-cc:before { content: '\f20a'; } /* '' */